.can-giua
    display: inline-block
    position: relative
    left: 50%
    transform: translateX(-50%)
.giohang-rong
    text-transform: none
    height: 100vh
    padding-top: 5rem
    h1
        text-transform: none
        text-align: center
        font-family: 'Times New Roman', Times, serif
        font-weight: bold
    h2
        text-transform: none
        text-align: center
        padding-top: 1rem
    button
        padding: 1rem 4rem 1rem 4rem
        font-size: 18px
        font-family: 'Times New Roman', Times, serif
        border-radius: 5px
        border: none
        transition: .4s
    button:hover
        opacity: .7
        transition: .3s
.btn-tailieu
    margin-left: 2rem
    background-color: green
    color: white
.btn-khoahoc
    margin-right: 2rem
    background-color: #c5c50f
    color: white
.btn-vetrangchu
    background-color: red
    color: white
    
        
