.khoahocvideo
    background-color: #201c1c
    height: auto
    padding: 1rem 2rem 1rem 2rem
    color: #fff
    font-family: 'Times New Roman', Times, serif
    h3
        color: #fff
        font-family: 'Times New Roman', Times, serif
        padding-top: 1rem
        font-weight: bold
        text-transform: none
    h2
        color: #fff
        font-family: 'Times New Roman', Times, serif
.namekh
    color: #000
    font-size: .9rem
.video-kh
    width: 100%
    padding-right: 1rem
    h1
        color: #fff
        text-transform: none
        font-family: inheric
.white-color
    color: #fff
.kiemtra
    padding-top: 20px
    color: #fff
    h3
        padding-top: 0
        font-size: 18px
        font-family: 'Times New Roman', Times, serif
    input
        color: #000
.cauhoidienkhuyet
    padding-top: 15px
    text-transform: none 
    font-size: 16px
    h3
        font-size: 20px
    input
        border: none
        background-color: #201c1c
        border-bottom: 1px dotted #fff
        margin-left: 10px
        margin-right: 10px
        color: white
.btn-nopbai
    padding: 1rem 3rem 1rem 3rem
    border-radius: 5px
    background-color: #bd3131
    font-family: 'Times New Roman', Times, serif
    font-weight: bold
    font-size: 18px
    transition: .4s
.btn-nopbai:hover
    opacity: .8
    transition: .4s